$primary-background-color: #feffff;
$primary-shadow-color: #718f9f;
$secondary-shadow-color: #9c9c9c;
$primary-color: #7ab6d8;
$highlight-color: #9ecee9;
$box-border: #e3fcff;
$box-background: #ffffff;
$text-shadow: #606060;
$nav-text-color: #ffffff;

//search bar colors
$search-border: #c9ebff;
$search-background: #c9ebff;
$search-text: #414141;
$search-hover-border: #29b1ff;
$search-hover-background: #ffffff;

$view-all-border: #838383;
$subtitle-text: #616161;

$check-in-border: #7cff67;
$check-in-background: #e3fcff;
$check-in-hover: #ccffc4;

$time-count: #616161;
