@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "colors";

$hind-guntur: "Hind Guntur", sans-serif;
$roboto-font: "Roboto", sans-serif;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.appBody {
  display: flex;
}

.leftside {
  padding: 10px;
  width: 15vw;
  background-color: $primary-background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rightside {
  padding: 10px;
  width: 85vw;
  background-color: $primary-background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

//******************************************************
//*Left Side

//?Site Name Box

.site-name-box {
  padding: 5px;
  border-radius: 10px;
  background-color: $primary-color;
  text-align: center;
  width: 90%;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 20px -3px #8e8e8e;
  --webkit-box-shadow: 0px 4px 20px -3px #8e8e8e;
  --moz-box-shadow: 0px 4px 20px -3px #8e8e8e;
}

.site-name {
  font-family: $roboto-font;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: white;
  margin-top: 2%;
}

//?Left Nav Bar

.left-nav-bar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  height: 85vh;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-color;
  box-shadow: 0px 4px 20px -3px #8e8e8e;
  --webkit-box-shadow: 0px 4px 20px -3px #8e8e8e;
  --moz-box-shadow: 0px 4px 20px -3px #8e8e8e;
}

.nav-item {
  width: 90%;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.active-nav-item {
  width: 90%;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
  background-color: $highlight-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.active-nav-item,
.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  background-color: $highlight-color;
  transition: 0.5s;
}

.image-container {
  width: 20%;
  margin-left: 2%;
}

#item-image {
  width: 70%;
  object-fit: contain;
}

.nav-item-text {
  width: 80%;
  color: white;
  font-family: $roboto-font;
  font-size: 16px;
  font-weight: 600;
}

//******************************************************
//*Right Side

.right-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: $primary-color;
  width: 98%;
  height: 5vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 20px -3px #8e8e8e;
  --webkit-box-shadow: 0px 4px 20px -3px #8e8e8e;
  --moz-box-shadow: 0px 4px 20px -3px #8e8e8e;
}

.page-name {
  margin-left: 1%;
  width: 5%;
  font-family: $roboto-font;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.search-bar-box {
  margin-left: 2%;
  width: 35%;
}

#search {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  border: 2px solid $search-border;
  background-color: $search-background;
  color: $search-text;
}

#search:hover {
  border: 2px solid $search-hover-border;
  background-color: $search-hover-background;
  transition: 0.5s;
}

#search:focus {
  border: 2px solid $search-hover-border;
  background-color: $search-hover-background;
  transition: 0.5s;
}

#search::placeholder {
  text-transform: uppercase;
}

.access-type {
  width: 10%;
  margin-left: 30%;
  margin-right: 5%;
  font-family: $roboto-font;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

#messageicon,
#notificationicon,
#profileicon {
  margin-right: 2%;
  width: 3%;
  object-fit: contain;
  cursor: pointer;
}

//???????????????????????????????????????????????
//? body

.content-body {
  width: 98%;
  height: 85vh;
  padding: 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

//*Dropdown Boxes - START
.menubox {
  border: 1px solid $box-border;
  width: 20%;
  padding: 10px;
  position: absolute;
  background-color: $box-background;
  right: 1vw;
  border-radius: 10px;
  box-shadow: 0px 4px 20px -3px #8e8e8e;
  --webkit-box-shadow: 0px 4px 20px -3px #8e8e8e;
  --moz-box-shadow: 0px 4px 20px -3px #8e8e8e;
}

.menu-box-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.menu-title {
  font-size: 20px;
  font-family: $roboto-font;
  width: 90%;
}

.menu-more {
  margin-left: 2%;
  width: 10%;
  cursor: pointer;
}

.menu-body {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: $roboto-font;
}

.menu-details {
  margin-top: 2%;
  height: 10vh;
}

.menu-all-details {
  height: 3vh;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid black;
}

#more {
  width: 60%;
  object-fit: contain;
}

.profilebox {
  border: 1px solid $box-border;
  width: 20%;
  padding: 10px;
  position: absolute;
  background-color: $box-background;
  right: 1vw;
  border-radius: 10px;
  box-shadow: 0px 4px 20px -3px #8e8e8e;
  --webkit-box-shadow: 0px 4px 20px -3px #8e8e8e;
  --moz-box-shadow: 0px 4px 20px -3px #8e8e8e;
}

.userdetails {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid black;
  align-items: center;
}

#profileimg {
  width: 50%;
  border-radius: 25px;
  margin-left: 15%;
}

.userimage {
  width: 40%;
}

.usernames {
  width: 60%;
  font-family: $roboto-font;
}
.userfullname {
  font-size: 20px;
  font-weight: bold;
}

.username {
  color: rgb(87, 87, 87);
  margin-top: -1%;
}

.profileoptions {
  font-family: $roboto-font;
  margin-top: 2%;
}

.profile-buttons {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.profile-buttons:hover {
  background-color: #dfdfdf;
  transition: 0.5s;
}
//*Dropdown Boxes - END

//* Default Widget Bar

.default-widget {
  margin-top: 0.5%;
  width: 98%;
  //background-color: bisque;
  padding: 10px;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome {
  font-family: $roboto-font;
  font-weight: bolder;
}

.check-button {
  padding: 10px;
  margin-left: 5%;
  font-family: $roboto-font;
  font-weight: bolder;
  background-color: rgb(226, 255, 226);
  border-radius: 8px;
  border: 2px solid #7cff67;
  cursor: pointer;
}

.counter {
  font-family: $roboto-font;
  font-weight: bolder;
  margin-left: 3%;
}
